<h1><%= @category.name %></h1>

<p><%= @category.description %></p>

<h2>Herramientas</h2>

<% if @category.tools.any? %>
  <ul>
    <% @category.tools.each do |tool| %>
      <li>
        <strong>
          <%= link_to tool.name, tool_path(tool) %>
        </strong>

        <% if tool.description.present? %>
          <p><%= tool.description %></p>
        <% end %>

        <div>
          <% if tool.open_source %>
            <span>🟢 Open Source</span>
          <% end %>

          <% if tool.free_tier %>
            <span>💰 Free Tier</span>
          <% end %>
        </div>
      </li>

      <hr>
    <% end %>
  </ul>
<% else %>
  <p>No hay herramientas aún.</p>
<% end %>

<%= link_to "Volver", categories_path %>